body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.Active {
  font-weight: 700;
  color: #ff8b00;
}

a {
  text-decoration: none;
}

.Casts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10;
}

.Casts__item {
  display: flex;
  width: 200px;
}

.Casts__item p {
  font-size: 12px;
}